body, .header{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.header{
    padding-top: 50px;
}
.header p{
    margin-top:0;
    font-family: Arial, Helvetica, sans-serif;
    color: #0962b5;
}